body {
  background: radial-gradient(black,grey);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#container {
  width: 567px;
  height: 377px;
  position: relative;
  margin: auto;
  top: 190px;
}
#animate {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 76px;
  top: 56px;
}